<section class="orders-show">

  <header class="page-header">
    <h1>Order <%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <% @products.each do |product| %>
      <div>
        <div>
          <img src="<%= product[:image] %>" width=25% />
        </div>
        <p><strong>Name:</strong> <%= product[:name] %></p>
        <p><strong>Description:</strong> <%= product[:description] %></p>
        <p><strong>Quantity:</strong> <%= product[:quantity] %></p>
        <p><strong>Total:</strong> $<%= product[:total] %></p>
      </div>
    <% end %>
    <h4>Order Details</h4>
    <p><strong>Order total:</strong> <%= @order.total_cents %></p>
    <p><strong>Email address:</strong> <%= @order.email %></p>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>

# The line items in the order and:
# Their image, name and description
# Their respective quantities and line item totals
# The final amount for the order
# The email that was used
# id: 36, order_id: 36, product_id: 10, quantity: 1, item_price_cents: 3999, total_price_cents: 3999